*{
    margin: 0;
    padding: 0; 
}

/*etiquetas html*/
h1{
padding: 1% 0px 0px 0px;
text-align: center;
}
h2{
padding:0px 0px 1% 0px;
text-align: center;
}

body{
    background-color: green;
}

/***************/
.titulos{
    position: fixed;
    height: 100px;
    width: 100%;    
    top: 0;
    background-color: rgb(85,4,4);
}
.pipo{
    height: 6000px;
    margin-top: 100px;

}

.color{
    width: 33.33%;
    height: 100%;
    float: left;
}
/*Bandera, sus colores y posicionamientos*/
.colorazul{
    background: skyblue;
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 34%, rgba(33,180,226,1) 66%, rgba(33,180,226,1) 100%);
}
.ballenablanca{
    background-color: white;
}
.amarillo{
    background-color: yellow;
    height: 50%;
    position: fixed;
    top: 33%;
    border-radius: 52%;
    margin: 0 5% 0 5%;
    width: 23.33%;

}
/***************/
