body{
    color:red;
    background-color: paleturquoise;
}
#soulgaming{
    color:blue;
    font-size:20px;
}
.pedro{
    color: green;
    font-size: 50px;

}
#feo{
    font-family: 'roboto';
    color: rgb(84,216,124);
}